@media (width <= 768px) {
  /*HEADER STYLES START */

  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    gap: 13px;
  }

  .header__subtitle {
    inline-size: 100%;
    max-inline-size: 364px;
  }

  /*HEADER STYLES END */

  /* WHY-HARD STYLES START */

  .grid-column-section {
    grid-template-columns: minmax(min-content, 236px) minmax(50%, 1fr);
    gap: 20px;
  }

  /* WHY-HARD STYLES END */

  /* CONCENTRATION STYLES START */

  .concentration__list {
    display: initial;
  }

  .concentration__list-item {
    margin-block-end: 20px;
  }

  .concentration__list-item:last-child {
    margin-block-end: 0;
  }

  /* CONCENTRATION STYLES END */
}
