/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --h1-color: #db00ff;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --bg-page-color: #000028;
  --text-color: #f1b2ce;
  --section--title-color: #ff0070;
  --text-shadow-color: #ff0070;
  --hover-outline-color: rgba(255, 0, 112, 0.4);
  --hover-text-color: #ff0070;
  --bg-page: url(../images/cover-image-dark.png);
  --focus-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}